body{
    background-color: black;
    font-family: 'Shadows Into Light','Teko', cursive;
    font-size: 14px;
    color: white;
    text-align: center;  
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 25%;
    padding-right: 25%;

}